<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pick Your Processor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>

  <body>

    <div class="container">
      <div class="row justify-content-center align-items-center p-5">
        <div class="row">
          <h2 class="text-center display-2"><i class="bi bi-cpu"></i> Pick Your Processor <i class="bi bi-gpu-card"></i></h2>
          <b class="text-center my-2">About</b>
          <div class="d-grid gap-2 col-md-4 mx-auto">

            <p>Welcome to Pick Your Processor, a streamlined solution for selecting the most important parts for performance, the CPU and the GPU. Our platform allows you to browse a comprehensive database of CPUs and GPUs, making it easier than ever to select the right components for your budget and needs.</p>
            <p></p>

            <!-- Flashed messages display -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="p-2">
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
          </div>

          <div class="container text-center my-2">
             <a href="{{ url_for('index') }}">login</a> • <a href="{{ url_for('register') }}">register</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap w/ Dependencies -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

